<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>


      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IFEService1" maxReceivedMessageSize="2147483647" >
            <readerQuotas maxDepth="500"
               maxArrayLength="20000000"
               maxStringContentLength="20000000" />
          </binding>

          <binding name="BasicHttpBinding_IFEService" maxReceivedMessageSize="2147483647" >
            <readerQuotas maxDepth="500"
               maxArrayLength="20000000"
               maxStringContentLength="20000000" />
          </binding>
        </basicHttpBinding>
      </bindings>
      
        <client>
            <endpoint address="http://servidor:1010/WCF_FE.FEService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IFEService" contract="ServicioEnviarComprobanteFE.IFEService"
                name="BasicHttpBinding_IFEService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF_FE/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFEService1"
                contract="ServicioEnviarComprobanteFEPrueba.IFEService" name="BasicHttpBinding_IFEService1" />
        </client>
    </system.serviceModel>

  <system.web>
    <httpRuntime maxRequestLength="2000000000" executionTimeout="99999999"/>
  </system.web>
  
  
</configuration>